.toolbar-wrapper {
  display: flex;
  max-width: 1024px;
  margin: auto;
}

.linkedin-logo {
  font-size: 30px;
}

ion-searchbar {
  --box-shadow: none;
  transform: scale(0.8);
}
ion-icon {
  font-size: 24px;
  color: rgba(224, 224, 224, 0.87);
}

ion-col div {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
}

ion-col {
  width: 80px;
  text-align: center;
}

ion-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.163);
}

ion-badge {
  background-color: rgba(255, 42, 42, 0.979);
  border-radius: 100%;
  font-size: 10px;
  font-weight: 400;
  margin-left: -8px;
  padding-left: 1px;
  width: 16px;
  height: 16px;
  text-align: center;
  border: 1px solid red;
}
ion-avatar {
  width: 25px;
  height: 25px;
}
.avatar-sub {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.avatar-sub ion-icon {
  font-size: 18px;
  margin-left: 2px;
}

