ion-card {
  width: 315px;
  box-shadow: none;
}
ion-card-header {
  margin-bottom: 10px;
  ion-text {
    display: flex;
    justify-content: space-between;
    h5 {
      font-size: 15px;
      margin-top: 1px;
      font-weight: 300;
    }
    ion-icon {
      color: darkgray;
      border: 1px solid white;
      border-radius: 7px;
    }
  }
}
ion-card-content {
  div {
    margin-bottom: 12px;
    p {
      margin-left: 16px;
      font-size: 12px;
      font-weight: 300;
    }
    ion-button {
      margin-top: 20px;
      ion-icon {
        margin-left: 10px;
      }
    }
  }
}
