<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Today's most viewed courses</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    <div>
      <ion-text color="dark">
        <h6 class="first-course">1. Angular 12 Best Practices</h6>
      </ion-text>
      <p>Viral Bera | Senior CS Engineer</p>
    </div>
    <div>
      <ion-text color="dark">
        <h6 class="second-course">
          2. JavaScript Algorithms and Data Structures
        </h6>
      </ion-text>
      <p>Meriam Fares | Senior Web developer</p>
    </div>
    <div>
      <ion-text color="dark">
        <h6 class="third-course">3. Master NestJS</h6>
      </ion-text>
      <p>Kamil Mysliwiec | NestJS Architect</p>
      <ion-button color="meduim" size="small" fill="clear">
        View All
        <ion-icon
          class="ion-paddding"
          color="dark"
          name="arrow-forward-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
